@import '~tachyons-sass/tachyons.scss';
@import '~prismjs/themes/prism-okaidia.css';
@import 'utils/reset.scss';
@import 'utils/colors.scss';
@import 'utils/fonts.scss';
@import 'utils/typography.scss';
@import 'components/code.scss';
@import 'components/sequence-diagram.scss';


.vw-100 { width: 100vw; }
.flex-1-50 { flex: 1 50%; }

pre[class*="language-"] {
  margin: 0;
  height: 100%;
  border-radius: 0;
}
