@import '~tachyons-sass/tachyons.scss';
@import '~prismjs/themes/prism-okaidia.css';
@import 'utils/reset';
@import 'utils/colors';
@import 'utils/fonts';
@import 'utils/typography';
@import 'components/code';
@import 'components/sequence-diagram';
@import 'components/notes';


.vw-100 { width: 100vw; }
.flex-1-50 { flex: 1 50%; }

pre[class*="language-"] {
  margin: 0;
  height: 100%;
  border-radius: 0;
}

div[class*="DraftEditor-"]{
	height: 100%;

	& > div {
		height: 100%; 
	}
}

pre, div[class*="DraftStyleDefault-"]{
	height: 100%;
}
