{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "max-len": [2, 120, 4],
    "comma-dangle": [2, "never"],
    "new-cap": [0],
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "no-unused-vars": [2, {
      "vars": "all",
      "argsIgnorePattern": "^_",
      "varsIgnorePattern": "^_"
    }]
  },
  "plugins": [
    "import",
    "react"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.eslint.js"
      }
    }
  }
}
