.character-count {
  display: inline-block;
  font-size: 0.75em;
  font-family: 'LivioMono';
  color: color(dark-grey, darker);
}

.panel {
  height: calc(100% - #{$tab-height});
  overflow: scroll;
  &--status {
    height: calc(100% - #{$tab-height} - #{$status-height});
  }
}

.status-bar {
  align-items: center;
  border-top: black 1px solid;
  height: $status-height;
  z-index: 1;
  color: color(grey,base);
  background: color(black,active);

  a {
    line-height: $status-height;
  }

}
