.fs-20 { font-size: 0.2em; }
.fs-30 { font-size: 0.3em; }
.fs-40 { font-size: 0.4em; }
.fs-50 { font-size: 0.5em; }
.fs-60 { font-size: 0.6em; }
.fs-70 { font-size: 0.7em; }
.fs-80 { font-size: 0.8em; }
.fs-90 { font-size: 0.9em; }
.fs-100 { font-size: 1em; }
.fs-110 { font-size: 1.1em; }
.fs-120 { font-size: 1.2em; }
.fs-130 { font-size: 1.3em; }
.fs-140 { font-size: 1.4em; }
.fs-150 { font-size: 1.5em; }
.fs-160 { font-size: 1.6em; }
.fs-170 { font-size: 1.7em; }
.fs-180 { font-size: 1.8em; }
.fs-190 { font-size: 1.9em; }
.fs-200 { font-size: 2em; }
