code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  //text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: 'LivioMono';
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  -webkit-hyphens: none;
  hyphens: none;
}

code,
pre {
  font-family: 'LivioMono';
}

/* Code blocks */
pre[class*="language-"] {
  padding: 0;
  margin: 0;
  overflow: auto;
  border-radius: 0;
  min-width: 300px;
  background: color(black,base);
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: color(black,active);;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.title {
  color: color(blue, dark);
}

.token.code {
  color: color(orange, light);
  font-family: 'LivioMono';
}

.token.url {
  color: color(lime, light);
}

.token.includes {
  color: color(rose, light);
}

.token.noteblock {
  color: color(gold, base);
}

.token.sequenceblock {
  color: color(sand, base);
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e;
}

.token.operator,
.token.entity,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
  color: #e6db74;
}

// .token.keyword {
//   color: #66d9ef;
// }

// .token.regex,
// .token.important {
//   color: #fd971f;
// }

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
