.sidebar {
	z-index: 2;
	height: 100vh;
	background-color: white;
}

.arrow-right {
	position: absolute;
	z-index: 2;

  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid white;
	cursor: pointer;
}
