.tabs {
  &__list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;

    list-style: none;

    background: color(black,dark);
  }

  &__item {
    margin: 0, 15px, 0, 0;
    padding: 10px;

    background: color(black,dark);
    border-left: 2px solid color(black,dark);

    span {
      padding-left: 15px;

      color: color(grey,base);
      font-size: 15px;
    }

    &.is-active {
      background: color(black,base);
      border-left: 3px solid color(navy,base);

      span {
        color: color(grey,light);
      }
    }

    &--close {
      padding: 0 0 0 15px;

      font-size: 15px;
      color: color(dark-grey,base);

      background: none;
      border: none;

      &:hover {
        color: color(grey,light);
      }

      &:focus {
        outline: none;
      }
    }
  }
}
