.tabs {
	&__list {
		display: flex;
		flex-direction: row;
		padding: 0;
		margin: 0;

		list-style: none;

		background: $dark-grey-base;
	}

	&__item {
		margin: 0, 15px, 0, 0;
		padding: 10px;

		background: $dark-grey-base;
		border-left: 2px solid $dark-grey-base;

		&.is-active {
			border-left: 3px solid $navy;
			background: $black;

			> button {
				color: $dark-grey-base;
			}
		}

		&--close {
			color: $black;

			background: none;
			border: none;

			&:hover {
				color: white;
			}

			&:focus {
				outline: none;
			}
		}

		& a span:last-of-type {
			padding-left: 15px;
		}
	}
}
