@font-face {
    font-family: 'LivioNorm';
    src: url('fonts/LivioNorm-Regular-WebS.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'LivioNorm';
    src: url('fonts/LivioNorm-Medium-WebS.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'LivioMono';
    src: url('fonts/LivioMono-Regular-WebS.woff2') format('woff2');
    font-weight: 400;
}

@mixin t-base {
  font-family: 'LivioNorm', Helvetica, sans-serif;
  color: color(dark-grey,base);
}

@mixin t-base-theme {
  font-family: 'LivioNorm', Helvetica, sans-serif;
  // this is the placeholder color for what shoudl be a doc theme color
  color: color(grey,base);
}

@mixin code-base {
  font-family: 'LivioMono', monospace;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.25px;
}
