.arrow {
    position: fixed;
    z-index: 2;

    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    cursor: pointer;

    &-right {
      border-left: 10px solid color(white);
    }

    &-left {
      bottom: 0;
      right: 1px;

      border-right: 10px solid color(white);
    }
}
